.login {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    width: 500px;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .center {
        width: 300px;
        box-shadow: 0 0 0px gray;
    }
}