.search {
    /* background-color: aquamarine; */
    overflow: hidden;
}

.nav {
    width: 100%;
    height: 80px;
    border-bottom: 0.8px solid rgb(216 210 210);
    /* box-shadow: 0 1px 1px gray; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav span {
    padding-left: 5px;
    padding-right: 5px;
}

.nav span:nth-child(2) {
    width: 80vw;
    margin-right: 10px;
}


/*  */

.search_contact_list {
    /* background-color: red; */
    height: 80vh;
    overflow-y: auto;
}

.footer {
    margin-top: auto;
    height: 40px;
    background-color: rgb(255, 255, 253);
    /* box-shadow: 0 0 -1px gray; */
    text-align: center;
    border-top: 0.8px solid rgb(216 210 210);
}

.footer small {
    font-variant: small-caps;
    line-height: 40px;
    line-height: 55px;
    font-size: 26px;
}